body{
  margin:0;
  background:#050816;
  font-family:sans-serif;
  color:white;
  }
  
  .app{
  min-height:100vh;
  }
  
  .navbar{
  
  position:sticky;
  
  top:0;
  
  z-index:100;
  
  background:#050816;
  
  padding:24px;
  
  border-bottom:
  1px solid
  rgba(255,255,255,.08);
  
  }

  .title-row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    position: relative;
    width:100%;
  }
  
  .logo{
  
  position:absolute;
  
  left:40px;
  
  top:20px;
  
  font-size:22px;
  
  font-weight:700;
  
  color:#6ea8ff;
  
  }
  
  .center{
  
  display:flex;
  
  flex-direction:column;
  
  align-items:center;
  
  }
  
  .title{
  
  font-weight: bold;
  font-size:46px;
  
  }
  
  .tagline{
  margin-bottom:10px;
  font-weight: bold;
  opacity:.7;
  
  }

  .title-tag {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    text-align:center;

  }
  
  .tabs{
  
  display:flex;
  
  gap: 8px;
  
  margin-top: 20px;

  margin-bottom: 20px;
  
  border-radius:999px;
  
  overflow:hidden;
  
  background:#111827;
  
  }
  
  .tab{
  
  padding:12px 30px;
  
  background:transparent;
  
  border:none;
  
  color:white;
  
  cursor:pointer;
  
  font-size:16px;
  
  }
  
  .tab.active{
  
  background:#2563eb;
  
  }
  
  .content{
  
  padding-top: 0px;
  
  }
  
  .camera-center{
  
  display:flex;
  
  justify-content:center;
  
  align-items:center;

  padding-top: 70px;
  
  }
  
  .camera-center>div{
  
  width:700px;
  
  max-width:90vw;
  
  }
  
  button{
  transition:.25s;
  font-weight: bold;
  }
  
  button:hover{
  transform:translateY(-2px);
  }

  .react-flow__controls {
  background: rgba(2,6,23,0.95) !important;
  border: 1px solid rgba(59,130,246,0.15) !important;
  border-radius: 12px !important;
  overflow: hidden;
}

.react-flow__controls button {
  background: transparent !important;
  color: #94a3b8 !important;
  border-bottom: 1px solid rgba(255,255,255,0.05) !important;
}

.react-flow__controls button svg {
  fill: #94a3b8 !important;
}